<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iGuichet | Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/admin}">iGuichet</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/admin}">Home</a></li>
                <li><a th:href="@{/admin/users}">Users</a></li>
                <li><a th:href="@{/admin/comptes}">Comptes</a></li>
                <li><a th:href="@{/admin/operations}">Opérations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form th:action="@{/logout}" method="post">
                    <span class="glyphicon glyphicon-user"></span>
                    <input type="submit" value="Deconnexion"/>
                </form>
            </ul>
        </div>
    </nav>
    <section class="d-flex align-content-md-center">
        <div class="panel panel-primary col-md-8 col-sm-offset-2">
            <div class="panel-heading">Vous êtes connecté en tant qu'administrateur</div>
            <div class="panel-body">
                Bienvenu dans le logiciel iGuichet(Guichet Automatique), un logiciel de gestion
                de compte bancaire.
                Ceci est un projet d'école réalisé dans le cadre de l'obtention de notre diplôme de licence
                en Science de l'Ingénieur.
                Conçu par <small><i>GBOSSOU Folly S. Carlo (Licence Génie Logiciel) &
                PEREKE Prince (Licence Réseaux & Télécoms).</i></small>
                Cliquez sur les différents menus en haut pour éffectuer les tâches.

            </div>

        </div>
    </section>
    <footer>
        <div class="navbar-fixed-bottom text-center">
            <small>&copy;Developed by Gbossou & Pereke</small>
        </div>
    </footer>
</body>
</html>