<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iGuichet | Listcomptes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/user}">iGuichet</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/user}">Home</a></li>
                <li><a th:href="@{/user/profil}">Profil</a></li>
                <li><a th:href="@{/user/comptes}">Comptes</a></li>
                <li><a th:href="@{/user/operations}">Opérations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form th:action="@{/logout}" method="post">
                    <span class="glyphicon glyphicon-user"></span>
                    <input type="submit" value="Deconnexion"/>
                </form>
            </ul>
        </div>
    </nav>
    <section>
        <div class="panel panel-primary">
            <div class="panel-heading">Liste de vos comptes</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>N°</th>
                        <th>N° comptes</th>
                        <th>Date de création</th>
                        <th>Soldes</th>
                    </tr>
                    <tr th:each="compte, status:${listUserComptes}">
                        <td th:text="${status.index+1}"></td>
                        <td th:text="${compte.numeroCompte}"></td>
                        <td th:text="${compte.dateCreation}"></td>
                        <td th:text="${compte.solde}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <footer>
        <div class="navbar-fixed-bottom text-center">
            <small>&copy;Developed by <a target="_blank" href="http://follytech.herokuapp.com">
                Gbossou Folly S. Carlo</a></small>
        </div>
    </footer>
</body>
</html>